*CamVid*
amazing_semantic_segmentation/roadcrack*
amazing_semantic_segmentation/checkpoints
amazing_semantic_segmentation/dist
*.zip
virtualenv
*.egg-info
dist
__pycache__
.DS_Store
amazing_semantic_segmentation/predict
checkpoints
build
predictions

/checkpoints
/base_models/__pycache__
roadcrack3/*
roadcrack4/*
roadcrack5/*
roadcrack6/*
weights/*.h5
virtualenv
predictions
*__pycache__*
*.zip
roadcrack*